<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ian &amp; andrea</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <div class="b">
      <div>
        <p><h1>ian<br><span class="f">and</span>rea</h1></p>
        <p class="f">may 1, 2022</p>
        <p class="f">cameron estate inn<br>1855 mansion lane<br>mount joy, pa</p>
        <p><a href="https://www.crateandbarrel.com/gift-registry/andrea-hill-and-ian-wright/r6374862">view our registry</a></p>
        <p><a href="https://open.spotify.com/playlist/7BN0RX8Veaguw4F08ZmOi0">add music to the dinner playlist</a></p><br>
        <p><img src="images/kiss.png" /></p>
      </div>
    </div>
  </body>
</html>
