<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andrea & Ian</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">
    <style>
      body {
        background-color: #fffaf0;
      }

      .b {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .b div {
        width: 50%;
        height: 50%;
        text-align: center;
        font-family: 'Cormorant Garamond', serif;
        font-size: 32px;
      }
    </style>
  </head>
  <body>
    <div class="b">
      <div>
        <p>Ian + Andrea</p>
        <p>may 1, 2022</p>
        <p>view our registry</p>
      </div>
    </div>
  </body>
</html>
