@media only screen and (max-width: 768px) {
  body {
    background-color: #737373;
  }

  .b {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .b div {
    width: 50%;
    height: 50%;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 2vw;
    color: #e1ca80;
    letter-spacing: 0.4vw;
  }

  .f {
    color: black;
  }

  a:link {
    text-decoration: none;
    color: #e1ca80;
    font-style: italic;
  }
  
  a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #e1ca80;
  }
  
  a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #e1ca80;
  }
  
  h1 {
    font-size: 11vw;
    text-align: center;
    letter-spacing: 1.5vw;
    color: #e1ca80;
    font-style: italic;
  }

  img {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  body {
    background-color: #737373;
  }

  .b {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .b div {
    width: 50%;
    height: 50%;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 20px;
    color: #e1ca80;
    letter-spacing: 4px;
  }

  .f {
    color: black;
  }

  a:link {
    text-decoration: none;
    color: #e1ca80;
    font-style: italic;
  }
 
  a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #e1ca80;
  }
 
  a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #e1ca80;
  }
 
  h1 {
    font-size: 80px;
    text-align: center;
    letter-spacing: 4px;
    color: #e1ca80;
    font-style: italic;
  }
}
